<div class="container">
  <app-cockpit 
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)">
  </app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first component</button>
      <app-server-element 
      *ngFor="let x of serverElements"
      [element]="x">
      <p>
        <strong *ngIf="x.type === 'server'" style="color: red;">{{x.content}}</strong>
        <em *ngIf="x.type === 'blueprint'" style="color: blue;">{{x.content}}</em>
      </p>
    </app-server-element>
  </div>
</div>
